.header {
    background: rgba(33, 33, 41, .72);
    padding: 5px 0;
    position: absolute;
    width: 100%;
    font-size: 24px;
    z-index: 2;
    border-radius: 0 0 15px 15px;
}

.nav {
    display: flex;
    justify-content: space-between;

    &__menu {
        display: flex;
        gap: 1.2em;
        padding: 0;
    }
    
}