@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './mixins';
@import './normalize';
@import './fonts';
@import './base';
@import './header';
@import './btn';
@import './aside';
@import './hero-section';



 

.first-section {
    background-image: url(../images/Background.svg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        bottom: 0;
        transform: translateX(-20%);
        background:
        linear-gradient(92.61deg, #212129 28.51%, rgba(33, 33, 41, 0.87) 42.97%, rgba(33, 33, 41, 0.55) 66.22%, rgba(33, 33, 41, 0) 84.08%);

    }

    &::before {
        content: 'Going to Die';
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        padding: 20px;
        background: linear-gradient(to bottom, #212129 2.51%, rgba(33, 33, 41, 0.5) 42.97%, rgba(33, 33, 41, 0.4) 66.22%, rgba(33, 33, 41, 0.4) 84.08%);
        border-radius: 0 0 30px 30px;
        text-align: center;
        color: #fc9d28;
        font-weight: 700;
        font-size: 45px;


    }
}

.second-section {
    min-height: 100vh;
    background-image: url(../images/history-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 10%;
}




